<div class="container">
    <h1>Congratulations!</h1>
    <p>You are the winner of HackengerOne</p>

    <p>Please message <b>@James Xu (MasseyHacks)</b> on <a href="https://masseyhacks.slack.com">Slack</a> with the
        following code immediately to claim your prize:
        <code>{{code}}</code></p>
    <p><b>NOTE:</b> this code is time-sensitive, so copy down the code and <b>DO NOT REFRESH THE PAGE</b></p>
</div>
