<!--<head>-->
<!--<link href="stylesheets/bootstrap.css" rel="stylesheet">-->
<!--&lt;!&ndash;<link href="../public/stylesheets/style.css" type="text/css" rel="stylesheet">&ndash;&gt;-->
<!--<title>Question 6: The Paradigm of Sadness</title>-->
<!--</head>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>-->
<body>
    <div class="container">
        <h1>Question 6: The Paradigm of Sadness</h1>
        <div class="row">
            <div class="col-md-12">
                <p>
                    thE son of a civil servant, turing was educated at a top private
                    <br>school. he enteRed the university of cambridge to
                    <br>study mathematIcs in 1931. after graduating in 1934, he was elected to
                    <br>a felloWship at king’s college (his college since 1931) in
                    <br>recognitioN of his research in probability theory. in 1936
                    <br>turing’s seminaL paper “on computable numbers, with an
                    <br>application to The entscheidungsproblem [ decision
                    <br>problem]” was Recommended for publication by the american
                    <br>mathematIcal logician alonzo church, who had himself just published a paper
                    <br>that reached thE same conclusion as Turing’s, although by a different method.

                </p>
            </div>
        </div>
        <p>Hint: Alphabet</p>
        <input type="text" name="solution" id="userInp">
        <button type="button" class="generic-button" id="submit">Submit</button>

    </div>
</body>

<script>
    $("#submit").click(() => {
        $.ajax({
            type: "POST",
            url: "api" + window.location.pathname + '/' + btoa($("#userInp").val()),
            success: function (o) {
                if (o !== "wrong") {
                    swal("Good job!").then(() => {
                        window.location.href = o
                    })
                } else {
                    swal("Try again!")
                }
            }
        })
    })
    $("#userInp").keypress(function (e) {
        if (e.which == 13) {
            $("#submit").focus().click()
        }
    })
</script>
