<head>
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

    <!--<link href="../public/stylesheets/style.css" type="text/css" rel="stylesheet">-->
    <title>Question 7: Bezos the DMOJ Master Part 2</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<body>
    <div class="container">
        <h1>Question 7: Bezos the DMOJ Master Part 2</h1>
        <div class="row">
            <div class="col-md-12">
                <ul id="teachers">
                    <!--<li>-->
                    <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                    <!--aria-controls="abdulle">Ms. Abdulle-->
                    <!--</button>-->
                    <!--<div id="abdulle" class="collapse row">-->
                    <!--<div class="col-md-4">-->
                    <!--<img src="https://picsum.photos/200/?random/1">-->
                    <!--</div>-->
                    <!--<div class="col-md-4">-->
                    <!--<img src="https://picsum.photos/200/?random/2">-->
                    <!--</div>-->
                    <!--<div class="col-md-4">-->
                    <!--<img src="https://picsum.photos/200/?random/3">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</li>-->
                </ul>

                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/4">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/5">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/6">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/7">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/8">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/9">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/10">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/11">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/12">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/13">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/14">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/15">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/16">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/17">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/18">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/19">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/20">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/21">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/22">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/23">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/24">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/25">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/26">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/27">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/28">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/29">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/30">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/31">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/32">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/33">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/34">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/35">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/36">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/37">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/38">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/39">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/40">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/432">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/3234">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/1234">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/6322">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/312">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/551">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/2634">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/36342">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/1234">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/63642">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/32345">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/2343241">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/2623423">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/323426">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/12346234">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/223456">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/3634634">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/1225">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/22346">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/325346">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/1236246">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/22346234">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/623">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/1654">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/3452">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/222343">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/62341">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/6432">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/375">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/7541">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/3542">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/6343">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/62341">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/2654">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/343">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/198">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/2999">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/376">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/641">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/3242">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/36234">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/16234">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/2234">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/36234">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/62341">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/26234">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/36234">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<button class="btn btn-dark" data-toggle="collapse" data-target="#abdulle" aria-expanded="false"-->
                <!--aria-controls="abdulle">Ms. Abdulle-->
                <!--</button>-->
                <!--<div id="abdulle" class="collapse row">-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/562341">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/63242">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <!--<img src="https://picsum.photos/200/?random/6543">-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</div>-->
                <input type="text" name="solution" id="userInp">
                <button type="button" class="btn btn-primary" id="submit">Submit</button>

            </div>
        </div>
    </div>
</body>

<script>
    $("#submit").click(() => {
        $.ajax({
            type: "POST",
            url: "api" + window.location.pathname + '/' + btoa($("#userInp").val()),
            success: function (o) {
                if (o !== "wrong") {
                    swal("Good job!").then(() => {
                        window.location.href = o
                    })
                } else {
                    swal("Try again!")
                }
            }
        })
    })

    function getRandomArbitrary(min, max) {
        let val = Math.floor(Math.random() * (max - min) + min)
        while (val === 150) { //Change 999 for actual room num {
            val = Math.floor(Math.random() * (max - min) + min)
        }
        return val
    }

    $(document).ready(() => {
        let teachers = ['Ms. Abdulle', 'Mr. Andreas', 'Mr. Atkin', 'Ms. Beiko', 'Ms. Benforte', 'Ms. Braccio', 'Mr. Catherine', 'Mr. Delnea', 'Ms. Dent', 'Mrs. Fader', 'Ms. Ferguson', 'Mr. Ferrara', 'Mr. Gatt', 'Mr. Garlick', 'Mr. Goodyear', 'Ms. Homenuik', 'Mr. Ing', 'Ms. Jagpal', 'Mme. Kaufman', 'Ms. Loree', 'Mr. McKenzie', 'Mr. Meloche', 'Ms. Miller', 'Mr. Parungao', 'Ms. Primorac', 'Mr. Stone', 'Mr. Temelini', 'Mr. Tran', 'Mr. Westbury', 'Ms. Zoern']
        teachers.forEach((name) => {
            console.log(name.split(' ')[1])
            if (name !== 'Ms. Primorac') {
                let ulHTML = `
                                    <li>
                        <button class="btn btn-dark" data-toggle="collapse" data-target="#{0}" aria-expanded="false"
                                aria-controls="{0}">{1} | Rm {2}
                        </button>
                        <div id="{0}" class="collapse row">
                            <div class="col-md-4">
                                <img src="https://picsum.photos/200/?random/{10}">
                            </div>
                            <div class="col-md-4">
                                <img src="https://picsum.photos/200/?random/{11}">
                            </div>
                            <div class="col-md-4">
                                <img src="https://picsum.photos/200/?random/{12}">
                            </div>
                        </div>
                    </li>`
                ulHTML = ulHTML.replace('{0}', name.split(' ')[1]).replace('{0}', name.split(' ')[1]).replace('{0}', name.split(' ')[1]).replace('{1}', name).replace('{2}', getRandomArbitrary(100, 200).toString())
                for (let i = 10; i < 13; i++) {
                    ulHTML = ulHTML.replace('{k}'.replace('k', i), Math.random().toString(10))
                }
                $('#teachers').append(ulHTML)
            } else {
                let ulHTML = `
                                    <li>
                        <button class="btn btn-dark" data-toggle="collapse" data-target="#prim" aria-expanded="false"
                                aria-controls="prim">Ms Primorac | Rm 150</button>
                        <div id="prim" class="collapse row">
                            <div class="col-md-4">
                                <img class="img-fluid" src="images/image3.png">
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="images/image1.png">
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="images/image11.png">
                            </div>
                        </div>
                    </li>`
                $('#teachers').append(ulHTML)
            }
        })
    })
    $("#userInp").keypress(function (e) {
        if (e.which == 13) {
            $("#submit").focus().click()
        }
    })
</script>
