<!--<head>-->
<!--<link href="stylesheets/bootstrap.css" rel="stylesheet">-->
<!--&lt;!&ndash;<link href="../public/stylesheets/style.css" type="text/css" rel="stylesheet">&ndash;&gt;-->
<!--<title>Question 8: Wine Wednesday</title>-->
<!--</head>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>-->
<body>
<div class="container">
    <h1>Question 7: Coding Fun</h1>
    <img class="img-fluid" src="images/image5.png">
    <br>
    <p>
        My favourite FrENch mathematIcians are Galois and ferMAt
    </p>
    <code>
        “fgqcn nqxic eplov wsgug ldqpu iacrt pbvlj fhgps eoqvg dqdmw jtrgb yxhnh sckjt mfmsv emrma jisze naxfk
        qoiro vdhdl ywflm mfakk cmfsa gsvgz xlkll bm”
    </code>
    <br>
    <br>
    <code>
        “R hkvzp drgslfg z nlfgs zmw svzi drgslfg vzih. R szev ml ylwb, yfg R xlnv zorev drgs drmw. Dszg zn R?”
    </code>
    <br>
    <br>

    <p>Hint 1: Decode<br>Hint 2: Contest</p>
</div>
<input type="text" name="solution" id="userInp">
<button type="button" class="generic-button" id="submit">Submit</button>

</div>
</body>

<script>
    $("#submit").click(() => {
        $.ajax({
            type: "POST",
            url: "api" + window.location.pathname + '/' + btoa($("#userInp").val()),
            success: function (o) {
                if (o !== "wrong") {
                    swal("Good job!").then(() => {
                        window.location.href = o
                    })
                } else {
                    swal("Try again!")
                }
            }
        })
    })
    $("#userInp").keypress(function (e) {
        if (e.which == 13) {
            $("#submit").focus().click()
        }
    })
</script>
