<!--<head>-->
<!--<link href="stylesheets/bootstrap.css" rel="stylesheet">-->
<!--&lt;!&ndash;<link href="../public/stylesheets/style.css" type="text/css" rel="stylesheet">&ndash;&gt;-->
<!--<title>Question 9: Name that Tune</title>-->
<!--</head>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>-->
<body>
<div class="container">
    <h1>Question 8: Wikipedia Game</h1>
    <div class="row">
        <div class="col-md-12">
            <img class="img-fluid" src="images/image7.png">
            <p>Besides coding and Magic: The Gathering sessions, the past MasseyHacks director, Noor Nasri, has been
                spending his time trying to survive his online physics classes. The answer to his final homework
                question turned out to be 5.6575 x 10^8 . After he finished it, Noor decided to waste some time playing
                the Wikipedia game. What was the final topic he ended up on so many hours later?
            </p>
            <p>Hint 1: Sig digs<br>
                Hint 2: Main body only</p>
            <input type="text" name="solution" id="userInp">
            <button type="button" class="generic-button" id="submit">Submit</button>
        </div>
    </div>


</div>
</body>

<script>
    $("#submit").click(() => {
        $.ajax({
            type: "POST",
            url: "api" + window.location.pathname + '/' + btoa($("#userInp").val()),
            success: function (o) {
                if (o !== "wrong") {
                    swal("Good job!").then(() => {
                        window.location.href = o
                    })
                } else {
                    swal("Try again!")
                }
            }
        })
    })
    $("#userInp").keypress(function (e) {
        if (e.which == 13) {
            $("#submit").focus().click()
        }
    })
</script>
