<!--<head>-->
<!--<link href="stylesheets/bootstrap.css" rel="stylesheet">-->
<!--&lt;!&ndash;<link href="../public/stylesheets/style.css" type="text/css" rel="stylesheet">&ndash;&gt;-->
<!--<title>Question 10: Ain’t nothing but Garfield’s Favorite food</title>-->
<!--</head>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>-->
<body>
<div class="container" style="align-items: center">
    <h1>Question 9: The Jazz Age</h1>
    <img style="max-height: 60vh" class="img-fluid" src="images/image6.png">
    <p>54 68 65 20 41 6d 65 72 69 63 61 6e 20 44 72 65 61 6d 3b 01000101 01101110 01100100 01101100 01100101 01110011
        01110011 00100000 01110000 01100001 01110010 01110100 01101001 01100101 01110011
    </p>
</div>

<p>Hint 1: Jay<br>
    Hint 2: 1920</p>
<input type="text" name="solution" id="userInp">
<button type="button" class="generic-button" id="submit">Submit</button>

</div>
</body>

<script>
    $("#submit").click(() => {
        $.ajax({
            type: "POST",
            url: "api" + window.location.pathname + '/' + btoa($("#userInp").val()),
            success: function (o) {
                if (o !== "wrong") {
                    swal("Good job!").then(() => {
                        window.location.href = o
                    })
                } else {
                    swal("Try again!")
                }
            }
        })
    })
    $("#userInp").keypress(function (e) {
        if (e.which == 13) {
            $("#submit").focus().click()
        }
    })
</script>
