<head>
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <!--<link href="../public/stylesheets/style.css" type="text/css" rel="stylesheet">-->
    <title>Question 9: Name that Tune</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<body>
    <div class="container">
        <h1>Question 9: Name that Tune</h1>
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" width="300px" src="images/image2.png">
                <img class="img-fluid" width="300px" src="images/image14.png">
                <img class="img-fluid" width="300px" src="images/image9.png">
            </div>
            <div class="col-md-6">
                <p>You’re traveling through another dimension, a dimension not only of sight and sound but of mind; a
                    journey into a wondrous land whose boundaries are that of imagination. That’s the signpost up ahead
                    - your next stop. The Twilight Zone. ? ROOM</p>
                <input type="text" name="solution" id="userInp">
                <button type="button" class="btn btn-primary" id="submit">Submit</button>
            </div>
        </div>


    </div>
</body>

<script>
    $("#submit").click(() => {
        $.ajax({
            type: "POST",
            url: "api" + window.location.pathname + '/' + btoa($("#userInp").val()),
            success: function (o) {
                if (o !== "wrong") {
                    swal("Good job!").then(() => {
                        window.location.href = o
                    })
                } else {
                    swal("Try again!")
                }
            }
        })
    })
    $("#userInp").keypress(function (e) {
        if (e.which == 13) {
            $("#submit").focus().click()
        }
    })
</script>
