@font-face {
    font-family: Avenir Next;
    src: url("https://mh5.masseyhacks.ca/fonts/avenir.otf");
}

* {
    font-family: Avenir Next, sans-serif;
    text-align: center;
}

a {
    color: #00B7FF;
}

.question-pane {
    background: #536976; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 2%;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.57);
    box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.57);
}

.answer-pane {
    background: #f46b45; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 2%;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.57);
    box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.57);
}


.main-body {
    align-items: center;
}

.start-button {
    border-radius: 20em;
    width: 100%;
    background: rgba(34, 37, 41, 0.8);
    border: none;
    outline: none;
    color: white;
    height: 3em;
    transition: all 0.3s;
}

.start-button:hover {
    background: rgba(0, 0, 0, 0.8);
    transform: scale(1.02);
}

@media (max-width: 768px) {
    .start-button {
        width: 70vw;
    }
}
